.dropdown{
    float: left;
}

.container{
    position:absolute;
}
.custom-tooltip{
    position:absolute;
    width:180px;
    min-height:50px;
    padding:10px 5px;
    background:white;
    opacity: 0.5;
    box-shadow: 0 2px 2px 0px rgba(0,0,0,.1);
}
    .custom-tooltip .title{
        font-size:1.2em;
        font-weight:bold;
    }